Importing modules

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [2]:
df = pd.read_csv("heart-Copy1.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [5]:
df.shape

(918, 12)

In [6]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [11]:
df.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [12]:
dummy_features = pd.get_dummies(df['ChestPainType'],drop_first=True)

In [13]:
dummy_features

     ATA  NAP  TA
0      1    0   0
1      0    1   0
2      1    0   0
3      0    0   0
4      0    1   0
..   ...  ...  ..
913    0    0   1
914    0    0   0
915    0    0   0
916    1    0   0
917    0    1   0

[918 rows x 3 columns]

In [14]:
# Creating a dummy variable for some of the categorical variables and dropping the first one.
dummy1 = pd.get_dummies(df[['Sex', 'ChestPainType','RestingECG','ExerciseAngina','ST_Slope']], drop_first=True)

# Adding the results to the master dataframe
final_data = pd.concat([df, dummy1], axis=1)

In [15]:
# Adding the results to the master dataframe
final_data = pd.concat([df, dummy1], axis=1)

In [16]:
final_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,...,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,M,ATA,140,289,0,Normal,172,N,0.0,...,0,1,1,0,0,1,0,0,0,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,...,1,0,0,1,0,1,0,0,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,...,0,1,1,0,0,0,1,0,0,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,...,1,0,0,0,0,1,0,1,1,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,...,0,1,0,1,0,1,0,0,0,1

In [17]:
final_data = final_data.drop(['Sex', 'ChestPainType','RestingECG','ExerciseAngina','ST_Slope'],1)

In [18]:
final_data.shape

(918, 16)

In [19]:
final_data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1

Assigning values to input output vector

In [21]:
x_data = final_data.drop('HeartDisease',1)
y_data = final_data['HeartDisease']

In [22]:
X = x_data.to_numpy()
y = y_data.to_numpy()

linear descriminant analysis

In [23]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()

lda.fit(X, y)
yp= lda.predict(X)

In [24]:
lda.decision_function(X)

array([-4.62410312, -1.07379597, -4.23273202,  2.69694306, -3.37215443,
       -4.74510053, -5.77829361, -3.80884873,  3.87292834, -5.65780369,
       -5.4789103 ,  2.58918854, -4.10615314,  3.69815988, -5.37873112,
       -1.39821707,  1.66547078, -5.63477578,  2.58354895,  0.40420941,
       -5.11300963,  0.14093583, -5.49333812,  1.88453154, -3.90439115,
       -4.20459458,  4.73644814, -4.05480384, -6.50457884, -3.76355706,
       -1.47385948, -3.18429183,  3.11493586,  3.046716  , -5.43467822,
       -4.54941602,  5.49586353, -5.80182165, -4.06651577,  2.28621854,
       -5.26878376, -0.42878149, -4.5640842 , -4.04628823,  3.94056078,
        1.42435755, -2.03108628, -4.04408363, -0.88996142,  1.25174517,
        4.2941509 ,  2.98164378, -2.64780862, -5.77989559,  2.73587262,
       -5.38171706,  3.25827393,  0.02010054, -1.62714905,  3.44238305,
       -4.34969612, -5.72285508, -1.679575  ,  3.47688828, -5.38873919,
       -5.83552283, -3.55693394, -4.61535288,  5.51223704, -2.75544782,
        1.32914198, -3.97253787,  2.14855267, -3.04664869,  3.97011389,
       -3.34942446,  0.15228801, -3.15676509, -1.94917402,  1.86565669,
       -4.06233137, -4.00838644,  2.45609967, -3.83379449,  5.30857955,
        4.80288282,  5.84909959,  0.4756509 , -0.43300928,  3.79641808,
       -5.5308838 , -2.20665118, -5.38365905,  3.78437848, -5.57399519,
        4.20169118, -3.94922038, -2.42118484, -0.78452099, -4.36420054,
        3.96435844, -1.0840095 ,  0.49460504,  3.51190812,  2.15667408,
       -2.67847665, -3.10651707, -4.34840285, -1.05574079, -3.9084207 ,
       -0.93607083,  5.02640207,  0.76556856, -4.57102833, -5.16854785,
        1.65337756,  1.24209461,  3.41737513, -5.20558934, -0.0728793 ,
       -0.80859293, -5.44925359, -1.77823519, -0.47861603, -3.84013721,
       -3.77837243, -5.76388219, -2.1306097 , -4.14177705,  1.5231526 ,
       -4.24306047,  3.19573098,  3.73358945,  4.21418555,  2.25048128,
       -0.66143207, -5.77070717, -3.3517294 ,  3.79628504,  4.06223469,
        4.32099081,  3.99385037,  4.24866627, -1.66955514, -1.62182821,
       -2.0320166 , -4.07438604, -5.94241452, -3.78903694,  3.32680114,
       -3.98696739, -3.46073103, -4.44136089, -1.7067737 , -4.58574016,
        5.48479033,  3.55805218, -1.31914389,  4.01756099, -3.10545024,
        4.84514319,  3.57668934, -4.32125697, -4.0340796 , -5.36794573,
        1.84271251,  5.62209542, -3.87580104, -1.13489446, -3.4615576 ,
       -4.60004899, -4.2875233 , -4.43802638, -3.76490584,  4.11633936,
        3.8120496 ,  3.05088158, -4.07659349, -3.93914563, -2.92223185,
        4.38167791, -3.95949158,  3.50535281,  3.54859115, -5.64822577,
        1.63100302, -3.69789113,  4.73404295,  1.8992223 ,  3.96688615,
       -1.71126331, -3.6266995 , -4.1865774 , -3.50511161, -5.67615987,
       -4.28508192,  2.10849325, -4.23936909,  3.3577879 , -0.87585225,
       -3.67783957, -3.94338559, -3.51986018, -5.93192865, -3.3528924 ,
       -0.19335948, -4.73332592, -0.88701655, -4.03534243,  2.09650635,
        3.13370218, -0.7024383 , -2.03520221, -5.25569653,  4.20819529,
       -5.49537953,  1.37539084, -3.63079741, -3.71828648, -4.71872395,
        2.07861525,  1.87741241, -5.08351488, -4.76446181, -2.72297077,
        1.75655859, -3.56321283,  4.68604203, -4.65973874, -3.37792983,
       -2.39810126, -4.40311931, -5.88124071, -1.93469119, -5.74122467,
        1.13871721,  4.07355575, -0.03515947,  3.85179491,  5.09614169,
       -4.37204035,  4.56066726,  2.93550851, -5.66403626,  3.77739051,
       -2.10261048,  1.74624831,  3.5654738 ,  3.72089968,  3.27935522,
        0.59538647,  2.84507487, -0.2385208 , -3.4735389 ,  4.50994748,
       -5.39271721, -6.0302231 , -3.88940072, -4.71698945, -5.89453468,
       -3.09390318, -4.85997357,  3.28838042,  2.74263335,  1.64556091,
       -4.38335079,  3.61359024, -4.36462288,  4.04493353, -0.90299379,
       -1.69985756, -5.88354095,  4.99472319, -3.42763294, -6.02224754,
       -3.15941001,  1.03246175,  4.1976301 ,  1.87569518, -5.58011037,
       -3.4542506 ,  3.06838113, -3.09639921, -6.07252342, -2.55482807,
       -4.98485368, -1.09009572, -3.61750917, -5.02811177, -4.19871231,
       -3.75497194, -5.12568153, -1.34960007,  4.94124975, -1.09327135,
        3.13940909,  5.98097374,  2.88211646,  4.5963072 ,  1.5995318 ,
        4.72801957, -2.67556308,  1.65646973,  3.71508448,  5.40065492,
        1.34725926,  4.35341559, -0.2959397 ,  1.15894924,  2.94539106,
        0.27834973,  1.20302817,  1.10679951,  0.40962933,  3.74094709,
       -0.32828149,  2.33419134,  3.17790499,  6.12431717,  2.05900694,
        3.34091238,  4.30084454,  0.12693177,  5.56598222,  2.98143257,
        3.22683119, -2.83835726,  2.79759808,  6.31957849,  4.87143993,
       -0.10844699,  0.74170171, -3.73118279,  0.45689756,  0.27623692,
        2.5697558 ,  2.51610231,  2.74618508,  2.13639062,  2.00375225,
        3.40393342,  5.11563631,  5.34333399,  4.48622968,  4.54288205,
        3.54795933,  3.397505  ,  4.32252516,  5.75402859,  5.84174408,
        4.48752264,  0.91549618,  2.70734084,  5.2468435 ,  0.03715835,
        1.91173883,  5.1262247 ,  1.04175867,  1.97493823,  1.06098493,
        2.91637492,  4.45938353,  1.31551794,  3.12548186,  1.2645954 ,
        3.76993821,  5.72675351,  1.32158502,  5.60358075,  5.95871082,
        1.74368429,  5.88789795,  1.45622323,  5.19295241,  3.27316037,
       -3.50558411,  2.78050445,  5.37152856,  6.9012586 ,  0.68955932,
        5.11836493,  4.69465559,  5.10376816,  1.17533151,  3.04685378,
        4.8527543 ,  4.47618677,  5.1115833 ,  3.54808845,  5.05129001,
        3.60378917,  5.0468749 ,  3.63809894,  5.85238598,  7.02586892,
        4.01564841,  1.24946137,  6.07026367,  2.75777891,  2.93655508,
        3.05883477,  4.19552586,  5.44101262,  6.68651814,  3.45283933,
        5.90462118,  6.02642138,  6.01704519,  4.7538831 ,  3.84583736,
        5.93584046,  5.15546562,  6.43063661,  1.56902663,  7.30271704,
        3.51073535,  4.98059253, -1.55036754,  2.69408039,  0.956069  ,
        3.74108877, -2.45874375,  5.02955714,  3.20199991,  1.01614469,
        1.0688092 , -3.52433698,  5.18407801,  4.93939266,  3.24224252,
        6.17613678, -0.99118162,  3.85581361,  4.13032146,  2.63793989,
        1.19789404,  0.23543048,  5.74732665,  2.63277719, -1.89042181,
       -1.44886482,  5.25910518,  6.28412264,  5.149967  ,  4.81860983,
        2.04289373,  5.24749069,  1.6663332 ,  5.51655407,  1.36013881,
        1.81367433,  5.26761167,  4.0674417 ,  1.99638479,  5.47879095,
        1.81170215,  2.76651543,  3.94646981,  5.59697935, -0.55013993,
        5.45866053,  4.99567516,  2.63234698, -0.25898289,  1.8701541 ,
       -4.11021683,  3.54165485, -3.94607039,  1.38143143,  1.81425912,
        3.33713087,  6.24561936,  6.42880386,  3.03791833, -2.46341636,
        6.20056337, -0.03486733,  5.42021406,  5.13910139,  3.85959333,
        4.55530971,  2.34776619, -0.70687084,  4.08213388,  5.38401799,
        3.13487405, -2.61835272,  4.40798194, -3.01679872,  4.81185583,
        2.29691346,  4.13218829,  2.61373268,  1.4550122 ,  4.91720299,
        2.31009527,  1.64260043,  3.2994181 ,  4.21828999,  3.71841707,
        3.85287725,  4.10087493,  4.71636016, -0.21004555,  4.96355237,
        2.97576829,  5.40440179, -2.42755748,  3.78203709,  2.42257015,
       -0.97578706,  5.90733567, -3.90714648,  2.05326685, -0.28337585,
        3.71033346,  1.66333953,  4.41192768,  2.45655084,  0.1198102 ,
        2.58821458,  3.59444154, -0.08380309,  4.37953365, -1.17897625,
       -3.88985449,  4.34068468, -3.78285418,  2.26533907,  4.6833185 ,
        3.90408452,  5.44493973,  3.71952427,  4.3149132 ,  3.15027908,
        5.25472969,  4.3849755 ,  5.32555748,  5.83298791, -0.90597895,
        2.13510203,  1.27257208,  2.55040892,  3.88646859, -2.87039096,
       -1.74693817,  0.89118756,  1.20101565, -0.73489033, -1.41536371,
        3.35405089, -2.9856262 ,  2.63169674,  4.27753877, -2.13487976,
        1.45710194,  4.28274714,  3.51841737,  1.99434543,  3.93820368,
       -3.44857819, -3.59150012,  4.10369045,  5.33592998,  5.29333633,
        4.15016063,  4.16532304,  3.88103433,  2.05804724,  4.83809793,
        2.94206902,  6.40087797,  4.02327052,  5.19906788,  5.8928689 ,
        5.03523121,  5.34680673,  4.04437175,  3.92112943,  5.66841526,
        5.60932283,  0.37271879,  5.46925708, -3.14401096,  5.5947026 ,
        1.32561949,  4.29105002, -0.0753745 ,  4.73037122,  1.79849988,
       -3.21342985, -1.22856932,  4.1033224 ,  3.60144479,  1.8615664 ,
        5.33479241,  2.34315834, -3.33357226,  2.88410358,  4.42744196,
        4.24189407,  1.77609876,  1.01514817,  2.76678169, -1.03172213,
       -1.08226003,  6.30084174,  5.02110343,  3.85360693,  1.57240763,
        1.18051815, -2.60629177,  3.56350441, -0.56451635,  1.47800772,
        3.43435831, -2.21371166, -3.82718325,  3.6863946 , -3.47418617,
       -0.85210075,  2.76483363,  4.08698406,  2.44196564,  1.88858279,
        2.24336108,  0.1562875 , -3.97550615,  1.55387386, -3.25291188,
        2.10145159,  3.76066694,  4.73345441,  2.7789839 , -1.73924572,
        5.06804296, -0.48435652,  1.73714566, -1.54204561, -3.04641017,
       -5.44406409,  1.71196661, -5.24008274,  1.11761845, -3.56061496,
        0.23012763,  0.09088859, -5.68949169,  3.30740694,  4.10937927,
        0.88965293,  1.14957569, -3.10932569, -3.76483342, -1.72057654,
       -1.98309766, -2.89960269, -2.67645366, -2.7806642 ,  2.34232102,
       -2.22183065, -2.78532365, -1.65261783,  1.33833601,  1.64093938,
        3.61774566, -2.80962611, -4.15458489, -5.22676697, -1.78029331,
       -5.71085289,  5.7815367 , -3.32079914,  1.90723593,  0.65665425,
       -1.94151843,  1.95151528, -4.08250376, -4.48628565,  1.34683405,
        3.84324394, -0.51909829, -4.3535979 , -1.85438696, -4.02162078,
        5.01793127, -2.14383505, -3.3856633 , -0.33809705, -2.62706131,
        2.91370478,  4.74479615, -5.67595657, -2.02094564, -3.72396732,
        3.37484037,  3.88181478,  0.44300395,  0.6154152 ,  4.29131178,
       -3.29788469, -2.16479622,  0.8301237 , -6.16443464,  3.41306697,
       -2.54885896, -3.35665686,  4.552673  ,  3.78101367, -1.17548815,
        3.70892502,  2.22282551, -1.55806957, -5.23292465, -5.15624136,
       -1.39924466,  3.15567364, -3.45579692,  3.88200508,  2.91099293,
        1.94078632,  1.61645251,  1.86911032,  0.02832286, -1.69199308,
        3.21723477, -4.28352287, -3.15140622, -4.48429605, -4.5896085 ,
       -2.2505723 , -1.26282106,  3.55766516, -1.11527365,  3.99492925,
        0.89098537,  4.88216465,  4.10968207, -5.04836253, -1.54844785,
       -5.13795516,  4.4030806 , -1.4634544 , -3.48823607,  1.66888239,
        2.4568552 ,  0.3595972 , -1.96083779,  3.40406857, -2.87912774,
       -1.05340128, -5.30314242,  5.24021115, -5.70710289, -0.21286482,
        3.54257807, -1.66940491, -0.07695817, -1.10164554, -4.15646953,
        4.26416475, -1.71384105,  4.58448416, -2.08216112, -4.42081319,
       -4.34014669, -1.05026552, -5.4092922 ,  1.44651911, -5.02866696,
       -5.65840155,  4.73474632, -4.44399617,  1.36224263,  3.75318904,
        2.68649779,  2.5433316 , -4.09023202,  4.93020704, -1.82243011,
       -1.96361105, -3.19871641,  0.38995454,  1.81956994,  2.09341919,
        2.10303385,  1.16932699,  3.90644835, -0.23553983, -3.580008  ,
        2.76222516,  5.05471049,  1.38665885,  3.38942766, -3.75442178,
       -0.69731727,  2.01997197, -1.47838386,  0.62389005, -2.56725894,
       -3.57448329,  4.98752837, -0.36165196,  0.56610195,  2.90517676,
       -1.09099981,  3.76590081, -4.39033118, -0.80549296, -2.91961577,
       -1.17147479,  1.23177634, -0.96094466, -3.76174718, -0.05985284,
       -3.24176059, -1.79053998,  4.8095683 , -0.04502937,  3.65041291,
        1.47006998, -5.67771057,  1.51408777,  1.87604983, -0.758427  ,
        0.27597643,  2.1163512 , -1.87157494,  4.75457925, -4.46871037,
       -4.87333635, -5.12195687, -2.60705387,  0.0276032 , -4.23078154,
        4.6583419 ,  3.74882172, -2.73697433,  1.81027818, -2.77114849,
       -0.39792658, -0.8064993 ,  3.9258102 , -3.2096323 ,  0.23629178,
        2.24294854,  2.31797744, -1.97716775, -0.51795233,  0.83989066,
        2.63814882, -2.98793488,  4.81954853, -3.87625109, -4.48986392,
        3.45630425, -4.51271474,  0.69493767,  0.76850017, -4.74552623,
        0.43264986, -1.05492222, -4.77499233,  1.73301868,  4.72642975,
        3.05111587, -4.13780391, -1.95486537, -3.14005724, -1.55696428,
       -5.24484058,  3.01596589,  3.37362647, -4.08176505, -1.26864965,
       -5.86478961,  4.93834298,  0.3981653 , -4.05066826, -1.70196856,
       -2.14998641, -4.45854891, -1.35304464,  2.44753703,  4.47748774,
       -4.82437916, -3.86221219,  4.47304306,  5.03415438, -2.85054475,
        0.89312213, -1.48918741, -1.97394233, -3.73063838,  1.1172641 ,
        4.24527012, -4.19152817,  2.96515757, -4.30590327, -1.32566913,
        2.21050638,  4.7290337 , -0.02371256, -3.74001347, -2.04560016,
        0.76248632, -5.48058192,  3.16715148,  2.24748036,  2.18852906,
       -4.06097844,  4.68066583,  2.05297698,  0.43664036,  5.3958792 ,
        4.59724655, -1.81342479, -3.95003836])

confusion matrix

In [25]:
from sklearn.metrics import confusion_matrix

confusion_matrix = confusion_matrix(y, yp)
print(confusion_matrix)

[[343  67]
 [ 52 456]]

In [26]:
from sklearn.metrics import classification_report

print(classification_report(y, yp))

              precision    recall  f1-score   support

           0       0.87      0.84      0.85       410
           1       0.87      0.90      0.88       508

    accuracy                           0.87       918
   macro avg       0.87      0.87      0.87       918
weighted avg       0.87      0.87      0.87       918